/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
/.vs/ConsoleApp1/project-colors.json
/.vs/ConsoleApp1/v17/.futdcache.v1
/.vs/ConsoleApp1/v17/.suo
/bin/Debug/net5.0/ConsoleApp1.deps.json
/bin/Debug/net5.0/ConsoleApp1.dll
/bin/Debug/net5.0/ConsoleApp1.exe
/bin/Debug/net5.0/ConsoleApp1.pdb
/bin/Debug/net5.0/ConsoleApp1.runtimeconfig.dev.json
/bin/Debug/net5.0/ConsoleApp1.runtimeconfig.json
/bin/Debug/net5.0/ref/ConsoleApp1.dll
/obj/ConsoleApp1.csproj.nuget.dgspec.json
/obj/ConsoleApp1.csproj.nuget.g.props
/obj/ConsoleApp1.csproj.nuget.g.targets
/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/obj/Debug/net5.0/ConsoleApp1.AssemblyInfo.cs
/obj/Debug/net5.0/ConsoleApp1.AssemblyInfoInputs.cache
/obj/Debug/net5.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/ConsoleApp1.assets.cache
/obj/Debug/net5.0/ConsoleApp1.csproj.AssemblyReference.cache
/obj/Debug/net5.0/ConsoleApp1.csproj.CoreCompileInputs.cache
/obj/Debug/net5.0/ConsoleApp1.csproj.FileListAbsolute.txt
/obj/Debug/net5.0/ConsoleApp1.dll
/obj/Debug/net5.0/ConsoleApp1.genruntimeconfig.cache
/obj/Debug/net5.0/ConsoleApp1.pdb
/obj/Debug/net5.0/apphost.exe
/obj/Debug/net5.0/ref/ConsoleApp1.dll
/obj/project.assets.json
/obj/project.nuget.cache
